<h1>Technical Interview</h1>
<div>
	<p>Perform the following <strong>in any order you like</strong>, go as far as you want/can in the
		time allocated to you. If stuck, ask for help. If an important task would take too long to do,
		explain your thinking and ideas and move on to something else.</p>
	<h3>Objectives</h3>
	<ol>
		<li>Understand the application</li>
		<li>Complete the code for the API call</li>
		<li>Refactor the application (backend first, frontend if you wish) to make it better/simpler/cleaner. Justify your ideas.</li>
		<li>Pretend that the Open Meteo API call takes 30+ seconds and fails often.
			Propose modification(s) to the backend to support that scenario. Explain your design.</li>
		<li>Add a unit test</li>
		<li>Add a functional test</li>
	</ol>
</div>
<h1 id="tableLabel">Was it a good day to play frisbee?</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
	<div>
		<label for="date">Date</label>
		<input type="date" formControlName="date">
	</div>
	<div>
		<label for="longitude">Longitude</label>
		<input type="text" formControlName="longitude">

	</div>
	<div>
		<label for="latitude">Latitude</label>
		<input type="text" formControlName="latitude">
	</div>

	<button type="submit">Submit</button>
</form>

<h2>Results</h2>
<div>
	<ng-container *ngIf="response; noConditionsYet">
		The day was: {{response.conditions}}
		<div *ngIf="response.reasons">
			<h4>Reasons</h4>
			{{response!.reasons}}
		</div>
	</ng-container>

</div>

<ng-template #noConditionsYet>
	<span>No result yet, please submit a query first</span>
</ng-template>